<html>
    <head>
    <title>WEB APP</title>
    </head>
    <link rel="stylesheet" type="text/css" href="./static/css/main.css"/>
    <body>
        <div class="help">
            <h1>EMAIL TO WHATSAPP AUTOMATION</h1>
            <form id="upload-file" method="POST" enctype="multipart/form-data">
                <label>Email </label>
                <br>
                <input type="email" name="mail">
                <br>
                <label>Password</label>
                <br>
                <input type="password" name="pwd"/>
                <br>
                <label>Domain Name</label>
                <br>
                <input type="text" name="domain"/>
                <br>
                <label>WhatsApp Numbers</label>
                <br>
                <input type = "text" name="number"/>
                <br>
                <label>Subject Filter</label>
                <br>
                <input type="text" name="subject"/>
                <br>
                <button type="submit">Start</button>
            </form>
        </div>
    </body>
</html>
        